<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Libra" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130118183705/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.10milestones/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/gef/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jpt.jpa_sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jst.web_sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jst.enterprise_sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.server_adapters.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/webtools/downloads/drops/R3.6.0/S-3.6.0M7-20140505163128/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.common_tests.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/webtools/downloads/drops/R3.6.0/S-3.6.0M7-20140505163128/repositoryunittests/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/datatools/downloads/drops/M_updates_1.12.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.0.I20140501-0200"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones"/>
</location>
</locations>
</target>
